.about{
    & {
        background-color: #00b1b1;
    }
    &__img {    
    width: 100%;
    filter: drop-shadow(-18.8px 6.8px 49.5px rgba(0, 0, 0, 0.3));
    margin-top: 73px;
    margin-left: 17px;

    @media screen and (min-resolution: 2dppx) {
        background-size: 52.5%;            
        content: url(../img/about@x2.png);
    }    
    @media screen and (min-resolution: 3dppx) {
        background-size: 52.5%;
        content: url(../img/about@x3.png);
    }

    @media (max-width: 1199px) {
        margin-top: 180px;
        margin-left: 0px;
    }
    @media (max-width: 991px) {
        margin-top: 80px;        
    }
    @media (max-width: 767px) {
        margin-top: 50px;
    }
    }
    &__title {
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 90px;
        font-weight: 700;
        padding-top: 168px;
        padding-bottom: 15px;

        @media (max-width: 1199px) {
            padding-top: 100px;
            
        }
        
        @media (max-width: 991px) {
            padding-top: 50px;
            padding-bottom: 15px;
            text-align: center;
            }
        @media (max-width: 767px) {
            font-size: 60px;
            padding-top: 50px;
            padding-bottom: 15px;
            text-align: center;
            }
    }
    &__subtitle {
        & {
            color: white;
            font-family: 'Raleway', sans-serif;
            font-size: 17px;
            font-weight: 300;
            padding-bottom: 160px;
            line-height: 27px;
            @media (max-width: 1199px) {
                padding-bottom: 100px;
                }
            @media (max-width: 991px) {
                text-align: justify;
                padding-bottom: 50px;  
                }
            
        }
        
    } 
}
.subtitle__p {
    padding-bottom: 10px;  
}




